@font-face{
    font-family: "Antartica Black" ;
    src: url("Antarctica/Antarctica-Black.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Black Contrast" ;
    src: url("Antarctica/Antarctica-BlackContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Black Italic Contrast" ;
    src: url("Antarctica/Antarctica-BlackItaContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Black Italic" ;
    src: url("Antarctica/Antarctica-BlackItalic.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Bold" ;
    src: url("Antarctica/Antarctica-Bold.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Bold Contrast" ;
    src: url("Antarctica/Antarctica-BoldContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Bold Italic" ;
    src: url("Antarctica/Antarctica-BoldItalic.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-BoldItalicContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-CnBdItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Black Italic Contrast" ;
    src: url("Antarctica/Antarctica-CnBlkItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Hairline Contrast" ;
    src: url("Antarctica/Antarctica-CnHairlineContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Hairline Italic Contrast" ;
    src: url("Antarctica/Antarctica-CnHairlineItContra.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Light Italic Contrast" ;
    src: url("Antarctica/Antarctica-CnLtItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Semi bold Contrast" ;
    src: url("Antarctica/Antarctica-CnSmBdItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Thin Italic Contrast" ;
    src: url("Antarctica/Antarctica-CnThItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Extra Bold Contrast" ;
    src: url("Antarctica/Antarctica-CnXBdItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Extra Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-CnXBlkItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Extra Light Italic Contrast" ;
    src: url("Antarctica/Antarctica-CnXLtItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Black Contrast" ;
    src: url("Antarctica/Antarctica-CondBlackContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Black Italic" ;
    src: url("Antarctica/Antarctica-CondBlackIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Bold Contrast" ;
    src: url("Antarctica/Antarctica-CondBoldContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Bold Italic" ;
    src: url("Antarctica/Antarctica-CondBoldIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Black" ;
    src: url("Antarctica/Antarctica-CondensedBlack.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Bold" ;
    src: url("Antarctica/Antarctica-CondensedBold.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Extra Black" ;
    src: url("Antarctica/Antarctica-CondensedExtraBold.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Hairline" ;
    src: url("Antarctica/Antarctica-CondensedHairline.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Light" ;
    src: url("Antarctica/Antarctica-CondensedLight.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Medium" ;
    src: url("Antarctica/Antarctica-CondensedMedium.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Regular" ;
    src: url("Antarctica/Antarctica-CondensedRegular.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Semi Bold" ;
    src: url("Antarctica/Antarctica-CondensedSemiBold.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Thin" ;
    src: url("Antarctica/Antarctica-CondensedThin.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Extra Bold Contrast" ;
    src: url("Antarctica/Antarctica-CondExtBdContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Extra Bold Italic" ;
    src: url("Antarctica/Antarctica-CondExtBdIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Extra Black" ;
    src: url("Antarctica/Antarctica-CondExtBlk.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Extra Black Contrast" ;
    src: url("Antarctica/Antarctica-CondExtBlkContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Extra Black Italic" ;
    src: url("Antarctica/Antarctica-CondExtBlkIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Extra Light" ;
    src: url("Antarctica/Antarctica-CondExtLt.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Extra Light Contrast" ;
    src: url("Antarctica/Antarctica-CondExtLtContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Extra Light Italic" ;
    src: url("Antarctica/Antarctica-CondExtLtIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Hairline Italic" ;
    src: url("Antarctica/Antarctica-CondHairlineIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Light Contrast" ;
    src: url("Antarctica/Antarctica-CondLightContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Light Contrast" ;
    src: url("Antarctica/Antarctica-CondLightIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Medium Contrast" ;
    src: url("Antarctica/Antarctica-CondMedContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Medium Italic" ;
    src: url("Antarctica/Antarctica-CondMedIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Medium Italic Contrast" ;
    src: url("Antarctica/Antarctica-CondMedItaContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Regular Contrast" ;
    src: url("Antarctica/Antarctica-CondRegContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Regular Italic" ;
    src: url("Antarctica/Antarctica-CondRegIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Regular Italic Contrast" ;
    src: url("Antarctica/Antarctica-CondRegItaContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Semi Bold Contrast" ;
    src: url("Antarctica/Antarctica-CondSemBdContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Semi Bold Italic" ;
    src: url("Antarctica/Antarctica-CondSemBdIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Thin Contrast" ;
    src: url("Antarctica/Antarctica-CondThinContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Condensed Thin Italic" ;
    src: url("Antarctica/Antarctica-CondThinIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Black Italic Contrast" ;
    src: url("Antarctica/Antarctica-ExBlkItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Hairline Contrast" ;
    src: url("Antarctica/Antarctica-ExHairlineContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Hairline Italic Contrast" ;
    src: url("Antarctica/Antarctica-ExHairlineItContra.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Light Contrast" ;
    src: url("Antarctica/Antarctica-ExLtItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Black" ;
    src: url("Antarctica/Antarctica-ExpandedBlack.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Bold" ;
    src: url("Antarctica/Antarctica-ExpandedBold.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Bold Italic" ;
    src: url("Antarctica/Antarctica-ExpandedBoldItalic.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Extra Black" ;
    src: url("Antarctica/Antarctica-ExpandedExtraBlack.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Extra Bold" ;
    src: url("Antarctica/Antarctica-ExpandedExtraBold.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Extra Light" ;
    src: url("Antarctica/Antarctica-ExpandedExtraLight.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Hairline" ;
    src: url("Antarctica/Antarctica-ExpandedHairline.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Light" ;
    src: url("Antarctica/Antarctica-ExpandedLight.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Medium" ;
    src: url("Antarctica/Antarctica-ExpandedMedium.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Regular" ;
    src: url("Antarctica/Antarctica-ExpandedRegular.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Semi Bold" ;
    src: url("Antarctica/Antarctica-ExpandedSemiBold.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Thin" ;
    src: url("Antarctica/Antarctica-ExpandedThin.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Thin Italic" ;
    src: url("Antarctica/Antarctica-ExpandedThinItalic.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Black Contrast" ;
    src: url("Antarctica/Antarctica-ExpBlackContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Black Italic" ;
    src: url("Antarctica/Antarctica-ExpBlackIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Bold Contrast" ;
    src: url("Antarctica/Antarctica-ExpBoldContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-ExpBoldItaContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Extra Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-ExpExBdItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Extra Black Italic Contrast" ;
    src: url("Antarctica/Antarctica-ExpExBlkItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Extra Light Italic Contrast" ;
    src: url("Antarctica/Antarctica-ExpExLtItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Extra Bold Contrast" ;
    src: url("Antarctica/Antarctica-ExpExtBdContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Extra Bold Italic" ;
    src: url("Antarctica/Antarctica-ExpExtBdIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Extra Black Contrast" ;
    src: url("Antarctica/Antarctica-ExpExtBlkContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Extra Black Italic" ;
    src: url("Antarctica/Antarctica-ExpExtBlkIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Extra Light Contrast" ;
    src: url("Antarctica/Antarctica-ExpExtLtContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Extra Light Italic" ;
    src: url("Antarctica/Antarctica-ExpExtLtIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Hairling Italic" ;
    src: url("Antarctica/Antarctica-ExpHairlineIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Light Contrast" ;
    src: url("Antarctica/Antarctica-ExpLightContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Light Italic" ;
    src: url("Antarctica/Antarctica-ExpLightIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Medium Contrast" ;
    src: url("Antarctica/Antarctica-ExpMedContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Medium Italic" ;
    src: url("Antarctica/Antarctica-ExpMedIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Medium Italic Contrast" ;
    src: url("Antarctica/Antarctica-ExpMedItaContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Regular" ;
    src: url("Antarctica/Antarctica-ExpRegContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Regular Italic" ;
    src: url("Antarctica/Antarctica-ExpRegIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Regular Italic Contrast" ;
    src: url("Antarctica/Antarctica-ExpRegItaContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Semi Bold Contrast" ;
    src: url("Antarctica/Antarctica-ExpSemBdContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Semi Bold Italic" ;
    src: url("Antarctica/Antarctica-ExpSemBdIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Thin Contrast" ;
    src: url("Antarctica/Antarctica-ExpThinContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Thin Italic Contrast" ;
    src: url("Antarctica/Antarctica-ExpThinItaContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Expanded Semi Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-ExSmBdItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-ExtBdItaContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Black Italic Contrast" ;
    src: url("Antarctica/Antarctica-ExtBlkItaContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Light Italic Contrast" ;
    src: url("Antarctica/Antarctica-ExtLtItaContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Black" ;
    src: url("Antarctica/Antarctica-ExtraBlack.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Black Contrast" ;
    src: url("Antarctica/Antarctica-ExtraBlackContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Black Italic" ;
    src: url("Antarctica/Antarctica-ExtraBlackItalic.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Bold" ;
    src: url("Antarctica/Antarctica-ExtraBold.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-ExtraBoldContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Bold Italic" ;
    src: url("Antarctica/Antarctica-ExtraBoldItalic.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Italic" ;
    src: url("Antarctica/Antarctica-ExtraCondBlack.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Black Italic" ;
    src: url("Antarctica/Antarctica-ExtraCondBlackIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Bold Italic" ;
    src: url("Antarctica/Antarctica-ExtraCondBoldIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Bold" ;
    src: url("Antarctica/Antarctica-ExtraCondensedBold.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Thin" ;
    src: url("Antarctica/Antarctica-ExtraCondensedThin.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Extra Bold" ;
    src: url("Antarctica/Antarctica-ExtraCondExtBd.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Extra Bold Italic" ;
    src: url("Antarctica/Antarctica-ExtraCondExtBdIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Extra Black" ;
    src: url("Antarctica/Antarctica-ExtraCondExtBlk.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Extra Black Italic" ;
    src: url("Antarctica/Antarctica-ExtraCondExtBlkIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Extra Light" ;
    src: url("Antarctica/Antarctica-ExtraCondExtLt.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Extra Light Italic" ;
    src: url("Antarctica/Antarctica-ExtraCondExtLtIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Hairline" ;
    src: url("Antarctica/Antarctica-ExtraCondHairline.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Light" ;
    src: url("Antarctica/Antarctica-ExtraCondLight.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Light Italic" ;
    src: url("Antarctica/Antarctica-ExtraCondLightIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Medium" ;
    src: url("Antarctica/Antarctica-ExtraCondMed.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Medium Italic" ;
    src: url("Antarctica/Antarctica-ExtraCondMedIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Regular" ;
    src: url("Antarctica/Antarctica-ExtraCondReg.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Regular Italic" ;
    src: url("Antarctica/Antarctica-ExtraCondRegIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Semi Bold" ;
    src: url("Antarctica/Antarctica-ExtraCondSemBd.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Semi Bold Italic" ;
    src: url("Antarctica/Antarctica-ExtraCondSemBdIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Thin Italic" ;
    src: url("Antarctica/Antarctica-ExtraCondThinIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Light" ;
    src: url("Antarctica/Antarctica-ExtraLight.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Light Contrast" ;
    src: url("Antarctica/Antarctica-ExtraLightContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Light Italic" ;
    src: url("Antarctica/Antarctica-ExtraLightItalic.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Hairline" ;
    src: url("Antarctica/Antarctica-Hairline.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Hairline Contrast" ;
    src: url("Antarctica/Antarctica-HairlineContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Hairline Italic" ;
    src: url("Antarctica/Antarctica-HairlineItalic.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Hairline Italic Contrast" ;
    src: url("Antarctica/Antarctica-HairlineItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Light" ;
    src: url("Antarctica/Antarctica-Light.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Light Contrast" ;
    src: url("Antarctica/Antarctica-LightContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Light Italic Contrast" ;
    src: url("Antarctica/Antarctica-LightItaContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Light Italic" ;
    src: url("Antarctica/Antarctica-LightItalic.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Medium Italic Contrast" ;
    src: url("Antarctica/Antarctica-MedItaContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Medium" ;
    src: url("Antarctica/Antarctica-Medium.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Medium Contrast" ;
    src: url("Antarctica/Antarctica-MediumContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Medium Italic" ;
    src: url("Antarctica/Antarctica-MediumItalic.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Regular Italic Contrast" ;
    src: url("Antarctica/Antarctica-RegItaContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Regular" ;
    src: url("Antarctica/Antarctica-Regular.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Regular Contrast" ;
    src: url("Antarctica/Antarctica-RegularContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Regular Italic" ;
    src: url("Antarctica/Antarctica-RegularItalic.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Semi Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-SemBdItaContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Semi Bold" ;
    src: url("Antarctica/Antarctica-SemiBold.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Semi Bold Contrast" ;
    src: url("Antarctica/Antarctica-SemiBoldContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Semi Bold Italic" ;
    src: url("Antarctica/Antarctica-SemiBoldItalic.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Thin" ;
    src: url("Antarctica/Antarctica-Thin.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Thin Contrast" ;
    src: url("Antarctica/Antarctica-ThinContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Thin Italic" ;
    src: url("Antarctica/Antarctica-ThinItalic.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Thin Italic Contrast" ;
    src: url("Antarctica/Antarctica-ThinItalicContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Bold Contrast" ;
    src: url("Antarctica/Antarctica-UCnBdContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Italic Bold Contrast" ;
    src: url("Antarctica/Antarctica-UCnBdItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Black Contrast" ;
    src: url("Antarctica/Antarctica-UCnBlkContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Black Italic Contrast" ;
    src: url("Antarctica/Antarctica-UCnBlkItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Hairline Contrast" ;
    src: url("Antarctica/Antarctica-UCnHairlineContras.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Hairline Italic" ;
    src: url("Antarctica/Antarctica-UCnHairlineIt.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Hairline Contrast" ;
    src: url("Antarctica/Antarctica-UCnHairlineItContr.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Light Contrast" ;
    src: url("Antarctica/Antarctica-UCnLtContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Light Italic Contrast" ;
    src: url("Antarctica/Antarctica-UCnLtItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Medium Contrast" ;
    src: url("Antarctica/Antarctica-UCnMdiumContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Medium Italic Contrast" ;
    src: url("Antarctica/Antarctica-UCnMdiumItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Regular Contrast" ;
    src: url("Antarctica/Antarctica-UCnRgularContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Regular Italic" ;
    src: url("Antarctica/Antarctica-UCnRgularIt.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Regular Italic Contrast" ;
    src: url("Antarctica/Antarctica-UCnRgularItContras.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Semi Bold Contrast" ;
    src: url("Antarctica/Antarctica-UCnSmBdContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Semi Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-UCnSmBdItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Thin Contrast" ;
    src: url("Antarctica/Antarctica-UCnThContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Thin Italic Contrast" ;
    src: url("Antarctica/Antarctica-UCnThItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Extra Bold Contrast" ;
    src: url("Antarctica/Antarctica-UCnXBdContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Extra Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-UCnXBdItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Black Contrast" ;
    src: url("Antarctica/Antarctica-UCnXBlkContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Black Italic Contrast" ;
    src: url("Antarctica/Antarctica-UCnXBlkItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Extra Light Contrast" ;
    src: url("Antarctica/Antarctica-UCnXLtContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Extra Light Italic Contrast" ;
    src: url("Antarctica/Antarctica-UCnXLtItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Hairline Contrast" ;
    src: url("Antarctica/Antarctica-UEHairlineContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Hairline Italic Contrast" ;
    src: url("Antarctica/Antarctica-UEHairlineItContra.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-UExBdItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Black Contrast" ;
    src: url("Antarctica/Antarctica-UExBlkContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Black Italic Contrast" ;
    src: url("Antarctica/Antarctica-UExBlkItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Light Contrast" ;
    src: url("Antarctica/Antarctica-UExLtContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Light Italic Contrast" ;
    src: url("Antarctica/Antarctica-UExLtItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Medium Italic Contrast" ;
    src: url("Antarctica/Antarctica-UExMdItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Regular Italic Contrast" ;
    src: url("Antarctica/Antarctica-UExRgItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Semi Bold Contrast" ;
    src: url("Antarctica/Antarctica-UExSmBdContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Semi Bold Contrast" ;
    src: url("Antarctica/Antarctica-UExSmBdItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Thin Italic Contrast" ;
    src: url("Antarctica/Antarctica-UExThItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Extra Bold Contrast" ;
    src: url("Antarctica/Antarctica-UExXBdContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Extra Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-UExXBdItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Extra Black Contrast" ;
    src: url("Antarctica/Antarctica-UExXBlkContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Extra Black Italic Contrast" ;
    src: url("Antarctica/Antarctica-UExXBlkItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Extra Light Contrast" ;
    src: url("Antarctica/Antarctica-UExXLtContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Extra Light Italic Contrast" ;
    src: url("Antarctica/Antarctica-UExXLtItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Black Italic" ;
    src: url("Antarctica/Antarctica-UltExpBlackIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Bold Contrast" ;
    src: url("Antarctica/Antarctica-UltExpBoldContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Bold Italic" ;
    src: url("Antarctica/Antarctica-UltExpBoldIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Extra Bold" ;
    src: url("Antarctica/Antarctica-UltExpExtBd.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Extra Bold Italic" ;
    src: url("Antarctica/Antarctica-UltExpExtBdIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Extra Black Italic" ;
    src: url("Antarctica/Antarctica-UltExpExtBlk.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Extra Black Italic" ;
    src: url("Antarctica/Antarctica-UltExpExtBlkIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Extra Light" ;
    src: url("Antarctica/Antarctica-UltExpExtLt.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Extra Light Italic" ;
    src: url("Antarctica/Antarctica-UltExpExtLtIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Hairline" ;
    src: url("Antarctica/Antarctica-UltExpHairline.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Hairline Italic" ;
    src: url("Antarctica/Antarctica-UltExpHairlineIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Light Italic" ;
    src: url("Antarctica/Antarctica-UltExpLightIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Medium" ;
    src: url("Antarctica/Antarctica-UltExpMed.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Medium Contrast" ;
    src: url("Antarctica/Antarctica-UltExpMedContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Medium Italic" ;
    src: url("Antarctica/Antarctica-UltExpMedIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Regular" ;
    src: url("Antarctica/Antarctica-UltExpReg.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Regular Contrast" ;
    src: url("Antarctica/Antarctica-UltExpRegContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Regular Italic" ;
    src: url("Antarctica/Antarctica-UltExpRegIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Semi Bold" ;
    src: url("Antarctica/Antarctica-UltExpSemBd.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Semi Bold Italic" ;
    src: url("Antarctica/Antarctica-UltExpSemBdIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Thin Contrast" ;
    src: url("Antarctica/Antarctica-UltExpThinContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Thin Italic" ;
    src: url("Antarctica/Antarctica-UltExpThinIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Black" ;
    src: url("Antarctica/Antarctica-UltraCondBlack.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Black Italic" ;
    src: url("Antarctica/Antarctica-UltraCondBlackIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Bold Italic" ;
    src: url("Antarctica/Antarctica-UltraCondBoldIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Bold" ;
    src: url("Antarctica/Antarctica-UltraCondensedBold.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Thin" ;
    src: url("Antarctica/Antarctica-UltraCondensedThin.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Extra Bold" ;
    src: url("Antarctica/Antarctica-UltraCondExtBd.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Extra Bold Italic" ;
    src: url("Antarctica/Antarctica-UltraCondExtBdIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Extra Black" ;
    src: url("Antarctica/Antarctica-UltraCondExtBlk.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Extra Black Italic" ;
    src: url("Antarctica/Antarctica-UltraCondExtBlkIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Extra Light" ;
    src: url("Antarctica/Antarctica-UltraCondExtLt.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Extra Light Italic" ;
    src: url("Antarctica/Antarctica-UltraCondExtLtIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Hairline" ;
    src: url("Antarctica/Antarctica-UltraCondHairline.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Light" ;
    src: url("Antarctica/Antarctica-UltraCondLight.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Light Italic" ;
    src: url("Antarctica/Antarctica-UltraCondLightIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Medium" ;
    src: url("Antarctica/Antarctica-UltraCondMedium.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Medium Italic" ;
    src: url("Antarctica/Antarctica-UltraCondMediumIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Regular" ;
    src: url("Antarctica/Antarctica-UltraCondRegular.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Semi Bold" ;
    src: url("Antarctica/Antarctica-UltraCondSemBd.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Semi Bold Italic" ;
    src: url("Antarctica/Antarctica-UltraCondSemBdIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Condensed Thin Italic" ;
    src: url("Antarctica/Antarctica-UltraCondThinIta.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Black" ;
    src: url("Antarctica/Antarctica-UltraExpandedBlack.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Bold" ;
    src: url("Antarctica/Antarctica-UltraExpandedBold.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Light" ;
    src: url("Antarctica/Antarctica-UltraExpandedLight.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Ultra Expanded Thin" ;
    src: url("Antarctica/Antarctica-UltraExpandedThin.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Contrast" ;
    src: url("Antarctica/Antarctica-XCnBdContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-XCnBdItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Black Contrast" ;
    src: url("Antarctica/Antarctica-XCnBlkContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Black Italic Contrast" ;
    src: url("Antarctica/Antarctica-XCnBlkItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Hairline Contrast" ;
    src: url("Antarctica/Antarctica-XCnHairlineContras.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Hairline Italic" ;
    src: url("Antarctica/Antarctica-XCnHairlineIt.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Hairline Italic Contrast" ;
    src: url("Antarctica/Antarctica-XCnHairlineItContr.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Light Contrast" ;
    src: url("Antarctica/Antarctica-XCnLtContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Light Italic Contrast" ;
    src: url("Antarctica/Antarctica-XCnLtItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Medium Contrast" ;
    src: url("Antarctica/Antarctica-XCnMdContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Medium Italic Contrast" ;
    src: url("Antarctica/Antarctica-XCnMdItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Regular Contrast" ;
    src: url("Antarctica/Antarctica-XCnRgContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica RegulExtra Condensed Regular Italic Contrastar" ;
    src: url("Antarctica/Antarctica-XCnRgItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Semi Bold Contrast" ;
    src: url("Antarctica/Antarctica-XCnSmBdContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Semi Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-XCnSmBdItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Thin Contrast" ;
    src: url("Antarctica/Antarctica-XCnThContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Thin Italic Contrast" ;
    src: url("Antarctica/Antarctica-XCnThItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Extra Bold Contrast" ;
    src: url("Antarctica/Antarctica-XCnXBdContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Extra Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-XCnXBdItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Extra Black Contrast" ;
    src: url("Antarctica/Antarctica-XCnXBlkContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Bold Italic Contrast" ;
    src: url("Antarctica/Antarctica-XCnXBlkItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Extra Light Contrast" ;
    src: url("Antarctica/Antarctica-XCnXLtContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Antartica Extra Condensed Extra Light Italic Contrast" ;
    src: url("Antarctica/Antarctica-XCnXLtItContrast.woff2") format("woff2");
}
@font-face{
    font-family: "Weiss Antiqua" ;
    src: url("weiss_1F3202_0_0.woff") format("woff");
}
@font-face{
    font-family: "Bradford LL Regular" ;
    src: url("BradfordLLWeb-Regular.woff2") format("woff2");
}
        *{
            margin: 0;
    font-family: "Antartica Bold" ;
    font-family: "Weiss Antiqua" ;
    font-family: "Bradford LL Regular" ;

        }
        *::selection{
            color: rgba(0, 0, 0, 0);
            rotate: -90deg;
        color:rgb(255, 0, 0);
        text-shadow:
        1px 0.1px 1px #7b0000,
        1px 0.2px 1px #8a0000,
        1px 0.3px 1px #bc0000,
        1px 0.4px 1px #d50000,
        1px 0.5px 1px #ff0000;
        } 
        /* .click body,
        .click *,
        body.click *,
        .click *,
        .click {
            cursor: url("coupdefeu.png") 16 16, auto;
        } */
        body{
            height: 100vh;
            /* padding: 1em; */
            color: black;
            background-color: white;
        }
        h1{margin-top: 1.5em;}
        .replique{margin-left: 1em;}
        .didascalie{font-style: italic;}
        h2, h3{margin-top: 1em;}
        h4{margin-top: 0.5em;}
        p{
            margin-bottom: 0.5em;
            font-size: 2em;
        }
section{
    /* height: 100vh; */
    border-bottom: 1px solid gold;
    padding: 1em;
}
img{
    height: 30%;
    width: auto;
}

/* HERO ====================================================================================================*/
.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}        
.hero-oneshot{
            /* position: relative; */
            width: 100%;
            height: 20px;          /* ajuste selon ton besoin */
            background: #fff;
            background: none;
            overflow: hidden;       /* pour couper comme sur l'image */
            animation: blink linear infinite 2s;
        }
        .hero-oneshot2{
            /* position: relative; */
            width: 100%;
            height: 30px;          
            background: #fff;
            background: none;
            overflow: hidden; 
            animation: blink2 linear infinite 2s;

        }
        .hero-oneshot3{
            /* position: relative; */
            width: 100%;
            height: 40px;          
            background: #fff;
            background: none;
            overflow: hidden; 
            text-align: center;
            animation: blink3 linear infinite 2s; 
        }
        .hero-oneshot4{
            /* position: relative; */
            width: 100%;
            height: 50px;          
            background: #fff;
            background: none;
            overflow: hidden; 
            text-align: center;
            animation: blink4 linear infinite 2s;

        }
        .hero-oneshot5{
            /* position: relative; */
            width: 100%;
            height: 125px;          
            background: #fff;
            background: none;
            overflow: hidden; 
            text-align: center;
            animation: blink5 linear infinite 2s;
        }
.hunter-oneshot{
            /* position: relative; */
            width: 100%;
            height: 20px;          /* ajuste selon ton besoin */
            background: #fff;
            background: none;
            overflow: hidden;       /* pour couper comme sur l'image */
            animation: blink linear infinite 2s;
        }
        .hunter-oneshot2{
            /* position: relative; */
            width: 100%;
            height: 30px;          
            background: #fff;
            background: none;
            overflow: hidden; 
            animation: blink2 linear infinite 2s;

        }
        .hunter-oneshot3{
            /* position: relative; */
            width: 100%;
            height: 40px;          
            background: #fff;
            background: none;
            overflow: hidden; 
            text-align: center;
            animation: blink3 linear infinite 2s; 
        }
        .hunter-oneshot4{
            /* position: relative; */
            width: 100%;
            height: 50px;          
            background: #fff;
            background: none;
            overflow: hidden; 
            text-align: center;
            animation: blink4 linear infinite 2s;

        }
        .hunter-oneshot5{
            /* position: relative; */
            width: 100%;
            height: 125px;          
            background: #fff;
            background: none;
            overflow: hidden; 
            text-align: center;
            animation: blink5 linear infinite 2s;
        }

        .hero-back{ z-index: 1; }
        .hero-back-1{ transform: translateY(-36px); }
        .hero-back-2{ transform: translateY(-36px); }
        .hero-back-3{ transform: translateY(-36px); }
        .hero-back-4{ transform: translateY(-36px); }
        .hero-back-5{ transform: translateY(-36px); }
        .hunter-back-1{ transform: translateY(-140px); }
        .hunter-back-2{ transform: translateY(-130px); }
        .hunter-back-3{ transform: translateY(-120px); }
        .hunter-back-4{ transform: translateY(-110px); }
        .hunter-back-5{ transform: translateY(-36px); }        
        .hero-layer{
            /* position: absolute; */
            top: 100px;
            font-family: "Antartica Ultra Condensed Semi Bold" ;
            font-size: 10em;
            letter-spacing: -2px;
            text-transform: uppercase;
            color: #000;
            white-space: nowrap;
            text-align: center;
        }
        .hunter-layer{
            /* position: absolute; */
            top: 100px;
            font-family: "Antartica Ultra Condensed Semi Bold" ;
            font-size: 10em;
            letter-spacing: -2px;
            text-transform: uppercase;
            color: #000;
            white-space: nowrap;
            text-align: center;
        }
        .deer{ 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .hunter{ 
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        @keyframes blink{
        	0%{opacity: 1.0;}
            1%{opacity: 0.0;}
            59%{opacity: 0.0;}
            60%{opacity: 1.0;}


        }
        @keyframes blink2{
        	0%{opacity: 1.0;}
            1%{opacity: 0.0;}
            61%{opacity: 0.0;}
            62%{opacity: 1.0;}


        }
        @keyframes blink3{
        	0%{opacity: 1.0;}
            1%{opacity: 0.0;}
            63%{opacity: 0.0;}
            64%{opacity: 1.0;}


        }
        @keyframes blink4{
        	0%{opacity: 1.0;}
            1%{opacity: 0.0;}
            65%{opacity: 0.0;}
            66%{opacity: 1.0;}


        }
        @keyframes blink5{
        	0%{opacity: 1.0;}
            1%{opacity: 0.0;}
            67%{opacity: 0.0;}
            68%{opacity: 1.0;}

        }
@media screen and (max-width:710px) {
    .hunter-layer{
        font-size: 5em;
    }
    .hero-layer{
        font-size: 5em;
    }
.hero-oneshot{
            height: 10px;          /* ajuste selon ton besoin */
        }
        .hero-oneshot2{
            height: 15px;         
        }
        .hero-oneshot3{
            height: 20px;          
        }
        .hero-oneshot4{
            height: 25px;          
        }
        .hero-oneshot5{
            height: 63px;          
        }
.hunter-oneshot{
            height: 10px;          /* ajuste selon ton besoin */
        }
        .hunter-oneshot2{
            height: 15px;         
        }
        .hunter-oneshot3{
            height: 20px;          
        }
        .hunter-oneshot4{
            height: 25px;          
        }
        .hunter-oneshot5{
            height: 63px;          
        }
        .hero-back-1{ transform: translateY(-18px); }
        .hero-back-2{ transform: translateY(-18px); }
        .hero-back-3{ transform: translateY(-18px); }
        .hero-back-4{ transform: translateY(-18px); }
        .hero-back-5{ transform: translateY(-18px); }
        .hunter-back-1{ transform: translateY(-70px); }
        .hunter-back-2{ transform: translateY(-65px); }
        .hunter-back-3{ transform: translateY(-60px); }
        .hunter-back-4{ transform: translateY(-55px); }
        .hunter-back-5{ transform: translateY(-18px); } 


}


/* SECTION 1 =============================================================================================*/
.etape-1{
    height: 100vh;
}
.one{
    filter: blur(5px);
    transition: 450ms;
    margin: 1em;
}
.one:hover{
    filter: blur(5px);
    filter: none;
    transition: 450ms;
}

        .oneshot{
            position: relative;
            width: 100%;
            height: 40px;          /* ajuste selon ton besoin */
            background: #fff;
            background: none;
            overflow: hidden;       /* pour couper comme sur l'image */
            justify-content: center;
            align-content: center;
            align-items: center;
            text-align: center;
        }
         .oneshot2{
            position: relative;
            width: 100%;
            height: 60px;
            background: #fff;
            background: none;
            overflow: hidden;
            justify-content: center;
        }
        .oneshot3{
            position: relative;
            width: 100%;
            height: 170px;
            background: #fff;
            background: none;
            overflow: hidden;
            justify-content: center;
        }
        /* les 2 derrière */
        .back{ z-index: 1;
            justify-content: center;
            align-content: center;
            align-items: center;
            text-align: center; }
        .back-1{ 
            transform: translateY(-130px);
            justify-content: center;
            align-content: center;
            align-items: center;
            text-align: center; 
        }   /*LES 3 VALEURS RESTENT LES MÊMES*/
        .back-2{ transform: translateY(-130px); }   /*LES 3 VALEURS RESTENT LES MÊMES*/
        .back-3{ transform: translateY(-130px); }   /*LES 3 VALEURS RESTENT LES MÊMES*/

        /* le texte devant */
        .front{ z-index: 2;
            text-align: center;        }
        .layer{
            position: absolute;
            top: 100px;             /* position verticale du "front" */
            /* font: 900 140px/0.9 "Impact", "Arial Black", system-ui, sans-serif; */
    font-family: "Antartica Bold" ;
            /* font-size: 10em; */
            font-size: 10em;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #000;
            white-space: nowrap;
            text-align: center;
        }
        @keyframes appear {
            from {
                opacity: 0;
                clip-path: inset(0 0 100% 0);
                transform: translateY(-20px);
            }
            to {
                opacity: 1;
                clip-path: inset(0 0 0 0);
                transform: translateY(0);
            }
        }
        .block{
            animation: appear linear;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
        }
@media screen and (max-width:710px) {

    .layer{
        font-size: 5em;
    }
.oneshot{
            height: 10px;          /* ajuste selon ton besoin */
        }
        .oneshot2{
            height: 15px;         
        }
        .oneshot3{
            height: 20px;          
        }
        .oneshot4{
            height: 25px;          
        }
        .oneshot5{
            height: 63px;          
        }
        .back-1{ transform: translateY(-36px); }
        .back-2{ transform: translateY(-36px); }
        .back-3{ transform: translateY(-36px); }
        .back-4{ transform: translateY(-36px); }
        .back-5{ transform: translateY(-36px); }
}


/* SECTION 2 =============================================================================================*/
.etape-2{
    height: 100vh;
}
.got1{
    filter: blur(5px);
    transition: 450ms;
    margin: 1em;
}
.got2{
    filter: blur(5px);
    transition: 450ms;
    margin: 1em;
    z-index: 2;
    transform: translateX(-60%);
    /* transform: translateY(50%); */
}
.got3{
    filter: blur(5px);
    transition: 450ms;
    margin: 1em;
    z-index: 3;
    transform: translateX(-120%);
    /* transform: translateX(-0%);
    transform: translateY(0%); */
}
.got1:hover{
    filter: blur(0px);
    z-index: 40;
}
.got2:hover{
    filter: blur(0px);
    z-index: 2;
}
.got3:hover{
    filter: blur(0px);
    z-index: 2;
}



/* SECTION 3 =============================================================================================*/
.etape-3{
    height: 100%;
}


/* SECTION 4 =============================================================================================*/
.etape-4{
    padding: 0;
    height: 100vh;
}   
.container-loupe {
      position: relative;
      height: 90vh;
      width: auto;
      overflow: hidden;
    }

    /* IMAGE DE FOND */
    .background-loupe img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* CURSOR / LOUPE */
    #cursor {
      /* position: fixed; */
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      width: 100%;
      height: 100%;      /* margin: 1em; */
      pointer-events: none;
      z-index: 10;

      --x: 50%;
      --y: 50%;
      --r: 10vw;
    }

    #cursor img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      clip-path: circle(var(--r) at var(--x) var(--y));
      -webkit-clip-path: circle(var(--r) at var(--x) var(--y));

      transition: clip-path 0.05s linear;
    }
    #cursor {
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    @media (pointer: fine) {
        #cursor {
            opacity: 1; /* toujours visible à la souris */
        }
    }
    /*
    @media (pointer: coarse) {
        #cursor {
            --r: 28vw;
        }
    }
    */

/* SECTION 5 =============================================================================================*/
.etape-5{
    height: 100vh;
}
/* SECTION 6 =============================================================================================*/
.etape-6{
    height: 50vh;
}
/* SECTION 7 =============================================================================================*/
.etape-7{
    height: auto;
  position: relative;
  background: (255,255,255);
}
.etape-7 canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;        /* au premier plan */
  pointer-events: none; /* laisse les clics passer */
}
.p5Canvas{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;        /* au premier plan */
  pointer-events: none; /* laisse les clics passer */
}

.ShrinkingText_root__3cIPn {
    /* font-family: BaseGrotesk,sans-serif; */
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .01em;
    position: relative;
    width: 100%;
    will-change: transform
}

.ShrinkingText_line__1TUTh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    will-change: width
}

.ShrinkingText_calcSpan__20QqJ {
    position: absolute;
    opacity: 0;
    visibility: hidden
}

@media screen and (max-width: 1179px) and (min-width:834px) {
    .ShrinkingText_root__3cIPn {
        font-weight:300;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0
    }
}

@media screen and (min-width: 1180px) {
    .ShrinkingText_root__3cIPn {
        font-weight:300;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: 0
    }
}

@media screen and (min-width: 1920px) {
    .ShrinkingText_root__3cIPn {
        font-weight:300;
        font-size: 70px;
        line-height: 80px;
        letter-spacing: 0
    }
}

.ArrowLink_link__1oKR- {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 0;
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
    cursor: default
}

.gunshot{
    margin-top: 100em;
    text-align: center;
    font-size: 5em;
    margin-bottom: 10em;
    color: red;
    font-weight: bolder;
}

/* SECTION 8 =============================================================================================*/
.etape-8{
    height: 100vh;
}
/* 
    position: relative;
    width: 100%;
    background: #222;
    overflow: hidden;
}

.holo-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    opacity: 0;
    transition: opacity 0.2s ease;
} */

/* SECTION 9 =============================================================================================*/
.etape-9{
    height: 100vh;
}
/* SECTION 10 =============================================================================================*/
.etape-10{
    height: 100vh;
}
.images {
  position: sticky;
  top: 0;
  height: 50vh;
}

.image {
  position: absolute;
  inset: 0;
  height: 90%;

  width: auto;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.image.active {
  opacity: 1;
}

/* SECTION 11 =============================================================================================*/
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.etape-11{
        font-family: "Inter", sans-serif;
        box-sizing: border-box;
        height: 100vh;
    }

/* Texte fixé au centre */
    .viewport {
      /* position: fixed; */
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
    }

    .text {
      font-size: clamp(2.5rem, 6vw, 6rem);
      line-height: 1.1;
      font-variation-settings: "wght" 100;
      transition: font-variation-settings 0.05s linear;
    }

    /* Indicateur */
    .hud {
      position: fixed;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 0.9rem;
      opacity: 0.6;
    }
